@import "tailwindcss";

@theme {
  --color-primary: #c8102e;
}

@layer base {
  html {
    @apply box-border scroll-smooth font-sans;
  }

  *,
  *:before,
  *::after {
    @apply box-border m-0 p-0;
  }

  ::placeholder {
    @apply text-base lowercase;
  }

  body {
    @apply p-0 m-0 text-base overflow-x-hidden;
    transition: all 0.3s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 p-0;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-[23px];
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-primary;
  }
  a:hover {
    @apply underline;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 1.5rem;

  /* @variant sm {
    padding: 20px;
    } */

  @variant lg {
    padding: 0 4.5rem;
  }

  /* @variant xl {
    padding: 0 5.5rem;
  } */
}
